<div class="title">
  <h1>Rick & Morty Directory</h1>
</div>
<main>
  @if (results.isLoading()) {
    <div class="loading">Cargando personajes...</div>
  }

  @if (results.error()) {
    <div class="error">Error al cargar los personajes</div>
  }

  @if (results.value()) {
    <div class="characters-grid">
      <div *ngFor="let character of results.value().results; trackBy: trackById"
           class="character-card">

        <img [src]="character.image" [alt]="character.name" class="character-image">
        <div class="character-info">
          <h3>{{ character.name }}</h3>
          <p><strong>Status:</strong> {{ character.status }}</p>
          <p><strong>Specie:</strong> {{ character.species }}</p>
          <p><strong>Type:</strong>   {{character.type || 'Unknown'}}</p>
          <p><strong>Gender:</strong> {{ character.gender }}</p>
          <p><strong>Origin:</strong> {{ character.origin.name }}</p>
          <p><strong>Location:</strong> {{ character.location.name }}</p>
        </div>
      </div>
    </div>

    <div class="pagination-controls">
      <button (click)="prevPage()" [disabled]="p() === 1" class="pagination-button">◀</button>
      <span>Page {{p()}} of {{results.value().info.pages}}</span>
      <button (click)="nextPage()" [disabled]="!results.value().info.next" class="pagination-button">▶</button>
    </div>
  }
</main>

